*{
    margin:0;
    padding:0;
}

@font-face{
    font-family: easyFont;
    src:url('./fonts/DIN\ Condensed\ Bold.ttf');
}

@font-face{
    font-family: secondFont;
    src:url('./fonts/GillSans.ttc');
}

body{
    font-family: easyFont;
    background-color: #f5f5f5;
}

#logo{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 28px;
}

body nav{
    position:fixed !important;
    width: 100%;
    z-index: 1;
}

.nav-members{
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item-color{
    color:#333333 !important;
}

.nav-container{
    background-color: #FFDAC9;
    height: 768px;
    width: 100%;
}

.image-container{
    position: relative;
}

.nav-image{
    height: 768px;
}

.nav-svg {
    position: absolute;
    left: 145px;
    top: 115px;
}

.image-text-container{
    position: absolute;
    left:50%;
    top:55%;
    transform: translate(-50%,-50%);
}


.image-text-color{
    color:#FFFFFF;
}

.image-text-container h1:nth-child(1){
    font-size: 82px;
    margin-bottom: 0;
    line-height: 0.9;
}
.image-text-container h1:nth-child(2){
    font-size: 115px;
    margin-left: 0;
    line-height: 0.9;
}

.image-text-container h1:nth-child(3){
    font-size: 35px;
    text-align: center;
}

.image-container-wrapper{
    position: relative;
}

.image-container-wrapper a{
    color: #333333;
    position: absolute;
    top:50%;
    right:-4%;
    transform: translate(-50%,-50%) rotateZ(
-90deg
);
}

#community{
    padding:80px 0px;
}

.first-col{
    display: flex;
    justify-content: flex-end;
}

.first-col>div{
    width: 48%;
    padding:15px;
}

.first-col>div h1{
    font-size: 48px;
    margin: 0;
    line-height: 1;
}

.strikethrough{
    background-color: #FFDAC9;
    height: 5.7px;
    width: 100%;
    top: 50%;
    z-index: 0;
    position: absolute;
}

.strikethroughwhite{
    background-color: #FFF;
    height: 5.7px;
    width: 180px;
    top: 50%;
    z-index: 0;
    position: absolute;
}

.strikethrough-text{
    position: relative;
	z-index: auto;
}

.first-col p{
    margin-top: 20px;
    padding:15px 10px 15px 0px;
    height: 170px;
    width: 75%;
}

.first-col a{
    font-size: 18px;
    background-color: #FFDAC9;
    padding:10px 10px 5px 10px;
}

.second-col{
    display: flex;
    align-items: flex-end;
    position: relative;
}

.second-col>div{
    height:77%;
    display: flex;
}

.image-wrapper{
    padding:10px;
    background-color: #fff;
    position: relative;
    margin-right: 20px;
}

.dimensions{
    width: 250px;
    height: 250px;
}

.image-wrapper img:nth-child(1){
    width: 230px;
    height: 230px;
}

.image-wrapper img:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
}

.buzzfeed{
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.heading{
    flex: 1;
}

.heading>h3{
    font-size: 22px;
}

.fancy-text{
    flex:3
}

.fancy-text>p{
    font-family: secondFont;
    font-size: 15px;
    color: #333333;
}

.comments-hearts{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.comments-hearts div:nth-child(1){
    margin-right: 10px;
} 


.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons img{
    width: 13px;
    height: 12px;
    margin-right: 5px;
}

.icons p{
    margin: 0;
    font-size: 14px;
}

.background-1{
    position: absolute;
    width: 134px;
    height: 98px;
    z-index: -1;
    left: 28.7%;
    bottom: 4%;
}

.background-2{
    position: absolute;
    width: 24px;
    height: 72px;
    z-index: -1;
    right: 17.7%;
    bottom: 6.5%;
}

.buzzfeed>img{
    width: 138px;
    height: 138px;
    position: absolute;
    z-index: -1;
    top: 59%;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
}

.pos{
    position: relative;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.third-col{
    display: flex;
    justify-content: flex-end;
    min-height: 300px;
}

.fifth-col>div{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
}

.fifth-col{
    display: flex;
    justify-content: flex-end;
}

.fifth-col>div>p{
    width: 80%;
    font-family: secondFont;
    font-size: 15px;
}

.sixth-col{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 125px;
}

.sixth-col>div{
    margin-right: 20px;
}
.verticalrect{
	font: normal normal bold 14px/52px DIN Condensed;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
	letter-spacing: 0.18px;	
}
.menucol > a{
	font-size: 18px;
	background-color: #FFDAC9;
	padding: 10px 10px 5px 10px;
}

p > b{	
	color:#333333;
}

p {
	width: 95%;
	font-family: secondFont;
	font-size:15px;
	color:#767676;
	letter-spacing:0.5px;
	text-align:left;
}
.rectbox {
	padding: 5px 15px;
	border: 2px solid #FFDAC9;
}
.menuitem{
	margin-top: 30px;
}
#recipies{
	background-color:#FFFFFF;
	z-index: auto;
	position: relative;
}
.text-right{
	text-align:right;
}
.rightborder{
	border-right: 0.5px solid #767676;
}

.product-imitation {
  position: relative;
  text-align: center;
  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;
}
.text-muted {
  color: #888888;
}
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}
.product-desc-bottom {
  position: absolute;
  top: -60px;
  right: 0;
}
.product-desc-top {
  position: absolute;
  top: 0px;
  right: 0;
}
.product-box {
  padding: 0;  
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.product-desc{
  padding: 20px;
  position: relative;
}
.produc-top-left {
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	color:white; 
	background: rgba(169, 169, 169, 0.4);
}

.chefspecial{
	position: absolute;
	z-index: 1;
	top: -50px;
	right: 0;	
	transform: rotate(50deg);
}
.margindown{
	margin-top:100px;
}
#community{
	background:#FFFFFF;
	padding-top:40px;
	position: relative;
	z-index: auto;
}

#recipies {
	padding-top:40px;
	padding-bottom:40px;
	position: relative;
	z-index: auto;
}
#contactus{
	background:#FFDAC9;
	padding-top:40px;
	padding-bottom:40px;
	position: relative;
	z-index: auto;
}
.underline{
border-bottom: 2px solid black;	
}

.first-col-inverse span{
    font-size: 18px;
    background-color: #333333;
    padding:10px 10px 5px 10px;
	color:#FFDAC9;
}
#footer{
	background:#333333;
	padding-top:40px;
	padding-bottom:40px;
}

.p-footer{
	font-family: Gill Sans;
	color:#FFDAC9;
	font-weight: bold;
}
.p-footer1{
	font-family: Gill Sans;
	color:#767676;
	font-weight: bold;
}
h1>big{
	font-size:50px;
	position: relative;
	z-index:2;
}